ol {
    padding: 0;
}

/* main */
#main {
    position: relative;
    padding-top: 8rem;
}

#main .main__bg {
    background: url('images/cereal/key_visual_cereal_nutrition_1920.png') no-repeat center 0;
    width: 100%;
    height: 320px;
}

.main__title {
    font-size: 5.5rem;
    font-weight: 800;
    position: absolute;
    left: 20rem;
    top: 50%;
    line-height: 70px;
    color: white;
    transform: translateY(-50%);
}

/* cereal */

#cereal {
    margin-top: 5rem;
    width: 90%;
    color: #333333;
}

#cereal h1 {
    font-size: 4rem;
    font-weight: 700;
}

.cereal__desc__title {
    display: flex;
    margin-top: 3rem;
}

.cereal__desc__title li {
    width: 25%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 1.3rem 0;
    cursor: pointer;
}

.cereal__desc__title li:first-child {
    border-left: 1px solid #dcdcdc;
}

.cereal__desc {
    margin-top: 5rem;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.desc1, .desc2, .desc3, .desc4 {
    display: none;
    padding: 5rem 12rem;
}

.change{
    display: block;
}

.show {
    background-color: #d30b2f;
    color: white;
}

.cereal__desc h3 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.cereal__desc-top {
    text-align: center;
    background-color: #fffceb;
    font-size: 2rem;
    padding: 3rem 8rem;
    margin-bottom: 5rem;
}

.cereal__article h5 {
    font-size: 3rem;
    margin: 2rem 0 4rem 0;
}

.cereal__article1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article1-left {
    width: 100%;
}

.article1-left p {
    font-size: 1.8rem;
    color: gray;
    margin: 3rem 0 0 0;
}
.article1-right {
    width: 100%;
    margin: 2rem 0 0 2rem;
}

.cereal__article1 img {
    display: block;
    width: 100%
}

.columns {
    list-style: none;
}

.columns li:not(:first-child) {
    margin-top: 5rem;
}

.columns-flex {
    display: flex;
}

.image-align img {
    width: 100%;
    display: block;
}

.image-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-align div:not(:first-child) {
    margin-left: 2rem;
}

.col-left img {
    display: block;
    width: 18vw
}

.col-right {
    padding-left: 2rem;
}

.col-right-top,
.col-right-bottom {
    width: 100%;
}

.col-right-bottom {
    margin-top: 4rem;
}

.col__title {
    font-size: 1.7rem;
    font-weight: 700;
}

.col__title strong {
    color: #d30b2f;
}
.col__answer {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    margin: 1rem 0 0 0;
}

.seed {
    display: flex;
    justify-content: space-between;
}

.seed__left .seed__right {
    width: 50%;
}

.seed__right {
    margin-left: 2rem;
}

.seed__col img {
    width: 100%;
    height: 275px;
}

.seed__col span {
    color: gray;
    font-size: 1.5rem;
    font-weight: 600;
}

.seed__col p {
    font-size: 1.5rem;
    color: #949494;
    line-height: 28px;
    margin: 2rem 0 0 0;
}
.seed__text, .innovation__text {
    position: relative;
}

.seed__text i,
.innovation__text i {
    color:#d30b2f;
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
    padding: 2.5rem 2.5rem;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.seed__text p ,
.innovation__text p {
    text-align: center;
    background-color: #fffceb;
    font-size: 2rem;
    padding: 4rem 8rem;
}

.seed__youtube {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
}

.seed__youtube iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.desc3__img img{
    display: block;
    width: 100%;
    padding-top: 4rem;
}

.nutrition__text {
    font-size: 1.6rem;
    line-height: 30px;
}

.nutrition__text p {
    margin: 4rem 0 0 0;
}

.nutrition__columns__list1,
.nutrition__columns__list2 {
   font-family: 'Noto Sans KR', sans-serif;
    padding: 5rem;
    background-color: #fffceb;
    list-style: inside;
}

.nutrition__columns__list2 {
    padding-top: 0;
}

.nutrition__columns__list1 li:not(:first-child) {
    margin-top: 6rem;
 }

.nutrition__columns__list2 li{
    color: #949494;
    font-size: 1.6rem;
}

.nutrition__title {
    font-size: 1.8rem;
    font-weight: 700;
}

.nutrition__desc {
    font-size: 1.6rem;
}

.nutrition__detail img {
    display: block;
    width: 100%;
}

.nutrition__detail h3,
.nutrition__faq h3 {
    text-align: left;
    margin-bottom: 2rem;
}

.nutrition__faq {
    margin-top: 5rem;
}

.nutrition__ask {
    display: flex;
    cursor: pointer;
    margin-bottom: 2rem;
}

.nutrition__ask span {
    font-size: 16px;
}

.nutrition__ask i {
    font-size: 30px;
    margin-right: 1rem;
    color: #949494;
}

.nutrition__answer {
    background-color: #fffceb;
    color: #949494;
    font-size: 16px;
    padding: 2.5rem;
    display: none;
}

.show__answer {
    display:block;
}

.desc4 h3 {
    margin-bottom: 8rem;
}

.innovation__box1,
.innovation__box2,
.innovation__box3,
.innovation__box4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innovation__box2,
.innovation__box3,
.innovation__box4 {
    margin-top: 2rem;
}

.innovation__image img {
    display: block;
    width: 32vw;
}

.innovation__desc:nth-child(1),
.innovation__desc:nth-child(3) {
    margin-right: 2rem;
}

.innovation__desc:nth-child(2),
.innovation__desc:nth-child(4) {
    margin-left: 2rem;
}

.innovation__desc span {
    font-size: 18px;
    font-weight: 700;
}

.innovation__desc p {
    font-size: 16px;
    color: #949494;
    line-height: 26px;
}

@media (max-width: 1180px) {
    .cereal__article1 {
        flex-direction: column;
    } 

    .cereal__article2 img{
        width: 100%;
    }

    .columns {
        padding-left: 0;
    }

    .columns-flex {
        display: block;
    }

    .col-left img {
        width: 100%;
        margin-bottom: 5rem;
    }

    .col-right {
        padding-left: 0;
    }

    .seed {
        flex-direction: column;
    }

    .seed__right {
        margin: 2rem 0 0 0;
    }

    .innovation__box1,     
    .innovation__box3{
        flex-direction: column;
    }

    .innovation__box2,
    .innovation__box4 {
        flex-direction: column-reverse;
    }
    .innovation__image img {
        width: 100%;
    }
    .innovation__desc  {
        margin-top: 1rem;
    }

    .innovation__desc:nth-child(2), 
    .innovation__desc:nth-child(4){
        margin-left: 0;
    }

    .seed__text {
        margin-top: 5rem;
    }
}

@media (max-width: 768px) {
    #main .main__bg {
    background: url('images/cereal/key_visual_cereal_nutrition_768.png') no-repeat center 0;
    height: 240px;
}

    .main__title {
        left: 16rem;
    }

    .cereal__desc__title li {
        font-size: 1.2rem;
    }

    .desc1, .desc2, .desc3, .desc4  {
        padding: 2rem 4rem;
    }

    .cereal__article {
        margin-top: 5rem;
    }

    .image-align {
        flex-wrap: wrap;
    }

    .image-align div:not(:first-child) {
        margin-left: 0;
        margin-top: 1rem;
    }

    .image-align img {
        width: 100%;
    }

    .cereal__desc-top {
        padding: 3rem;
    }

    .innovation__text p {
        padding: 4rem 2rem;
    }
}

@media (max-width: 480px) {
    .main__title {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}