:root {
    /* color */
    --color-red: #d30b2f;
    --color-gray: #3d3d3d;
    --color-dark-gray: #2b292e;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
}

html, body, ul {
    padding: 0;
    margin: 0;
    font-family: 'Texturina', serif;
    font-size: 10px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
}

/* nav */

#nav {
    padding: 2rem 0;
    margin: 0 auto;
    position: relative;
}

.nav__logo {
    width: 120px;
}

.nav__lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__lists a {
    color: #3d3d3d;
}

.nav__lists li{
    color: #3d3d3d;
    font-size: 1.8rem;
    font-weight: 900;
    margin-left: 6rem;
}

.nav__lists li:first-child{
    margin-left: 0;
    margin-right: 4rem;
}

.nav__lists i{
    margin-left: .5rem;
    color: #d30b2f;
}

.nav__btn {
    background-color: #d30b2f;
    outline: none;
    border: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
    padding: .5rem 1rem;
    border-radius: 5px;
}

/* main slide */
#main__slide {
    position: relative;
}

.swiper-container {
    z-index: 0 !important;
}

.swiper-slide {
    position: relative;
}

.slide__title {
    position: absolute;
    top: 340px;
    left: 90px;
    color: #d30b2f;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: -2px;
}

.slide2 .slide__title {
    color: white;
    text-shadow: 2px 2px 6px rgb(82, 82, 82);
}

.slide4 .slide__title {
    top: 80px;
    color: #333333;
    font-size: 6.5rem;
    line-height: 85px;
}

.slide4 .slide__sub-title {
    position: absolute;
    top: 280px;
    left: 90px;
    color: #333333;
    font-size: 2.5rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.slide4 button {
    position: absolute;
    left: 90px;
    top: 400px;
    background-color: #d30b2f;
    outline: none;
    border: none;
    color: white;
    border-radius: 35px;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 2rem 3.5rem;
}

.background__img1 {
    background: url("images/slide/main1.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
}

.background__img2 {
    background: url("images/slide/main2.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
}

.background__img3 {
    background: url("images/slide/main3.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
}

.background__img4 {
    background: url("images/slide/tablet_main0.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
}

.swiper-button-next,
.swiper-button-prev {
    color: gray !important;
}

.products {
    margin: 0 auto;
    background-color: white;
    transform: translateY(-100px);
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.25);
    padding: 2.5rem 6rem;
}

.products__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__list li {
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 3.5rem;
    text-align: right;
}

.products__list li:first-child{
    margin-left: 0;
}


.products__list h2 {
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 45px;
}

.products__list span {
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
}

.products__list span::after,
.sub__title .more__btn::after  {
    content: "";
    z-index: -1;
    position: absolute;
    left: 20px;
    top: -1px;
    width: 53px;
    height: 25px;
    background-color: #fad900;
    border-radius: 20px;
}


.products__list span i, 
.more__btn i {
    margin-left: 1rem;
}


.products__list img {
    width: 200px;
}

/* sub slide */

.sub1 {
    display: flex;
}

.sub__img, .sub__text {
    width: 50%;
}

.sub__img img {
    width: 100%
}

.sub__text {
    background-color: #fff8f5;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 6rem 4rem;
}

.sub__title .title__icon1 {
    background: url("images/desc/product_logo_granola.png") no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.sub__title h1 {
    color: #a52727;
    background-color: #f8d74c;
    display: inline;
    padding: 1.55rem 2rem 1.55rem 8rem;
    font-size: 20px;
    border-radius: 30px;
    position: relative;
}

.sub__title p {
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    margin: 4rem 0;
    line-height: 37px;
}

.sub__title .more__btn {
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    z-index: 0;
}

.sub__rows {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 5rem;
    text-align: center;
}

.sub__row1 .sub__icon {
    background: url("images/desc/product_weight.png") no-repeat;
    width: 55px;
    height: 60px;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.sub__row2 .sub__icon {
    background: url("images/desc/product_end_date.png") no-repeat;
    width: 55px;
    height: 60px;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.sub__row3 .sub__icon {
    background: url("images/desc/product_calory.png") no-repeat;
    width: 55px;
    height: 60px;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.sub__rows span {
    display: block;
} 

.sub__name1 {
    font-size: 17px;
    margin: 2rem 0;
}

.sub__row3 b {
    font-size: 11px;
    font-weight: 300;   
    margin-bottom: .5rem;
    display: block;
}

.sub__name2 {
    font-size: 18px;
    font-weight: 700;
    background-color: #ececec;
    padding: 1.5rem 4rem;
}

.sub__row3 .sub__name1 {
    margin: 2rem 0 0 0;
}