
* {
    box-sizing: border-box;
}

html, body, ul {
    padding: 0;
    margin: 0;
    font-family: 'Texturina', serif;
    font-size: 10px;
}


body {
    background-color: #fbfbfb;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    margin: 0 auto;
} 

.section__container{
    max-width: 1200px;
}


/* nav */

#nav {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: white;
    box-shadow: 1px 1px 5px white;
}

.nav__wrap {
    padding: 2rem 2rem;
    position: relative;
    display: flex;
    margin: 0 auto;
}

.nav__logo img {
    width: 120px;
    display: block;
}

.nav__lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
}

.nav__list__wrap .closeBtn {
    display: none;
}

.nav__lists a {
    color: #3d3d3d;
}

.nav__lists li{
    color: #3d3d3d;
    font-size: 1.8rem;
    font-weight: 900;
    margin-left: 6rem;
}

.nav__lists li:first-child{
    margin-left: 0;
}

.nav__lists i{
    margin-left: .5rem;
    color: #d30b2f;
}

.nav__lists > li .kellogg__submenu {
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 1s;
    display: none;
}

.nav__lists > li:hover .kellogg__submenu {
    display: block;
}

.nav__lists > li .kellogg__submenu li {
    margin-left: 0;
    padding: 1rem 2rem;
    font-weight: 400;
    font-size: 1.7rem;
}

.nav__lists > li .kellogg__submenu li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.kellogg__submenu li:hover {
    padding: .5rem 0;
}

.nav__btn {
    background-color: #d30b2f;
    border: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.toggle__btn{
    display: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 25px;
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.toggle__btn i {
    color: #757575;
}

/* main slide */
#main__slide {
    position: relative;
    padding-top: 8rem;
}

.swiper-container {
    z-index: 0 !important;
}

.swiper-slide {
    position: relative;
}

.slide__title {
    position: absolute;
    top: 340px;
    left: 90px;
    color: #d30b2f;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: -2px;
}

.slide2 .slide__title {
    color: white;
    text-shadow: 2px 2px 6px rgb(82, 82, 82);
}

.slide4 .slide__title {
    top: 80px;
    color: #333333;
    font-size: 6.5rem;
    line-height: 85px;
}

.slide4 .slide__sub-title {
    position: absolute;
    top: 280px;
    left: 90px;
    color: #333333;
    font-size: 2.5rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.slide4 button {
    position: absolute;
    left: 90px;
    top: 400px;
    background-color: #d30b2f;
    outline: none;
    border: none;
    color: white;
    border-radius: 35px;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 2rem 3.5rem;
}

.background__img1 {
    background: url("images/slide/main1.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 85vh;
    background-size: 100% 100%;
}

.background__img2 {
    background: url("images/slide/main2.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 85vh;
    background-size: 100% 100%;
}

.background__img3 {
    background: url("images/slide/main3.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 85vh;
    background-size: 100% 100%;
}

.background__img4 {
    background: url("images/slide/tablet_main0.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 85vh;
    background-size: 100% 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: gray !important;
}

.products {
    background-color: white;
    transform: translateY(-100px);
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.25);
    padding: 2.5rem 2rem 2.5rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}
.product__title {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: right;
}

.products__list {
    display: flex;
    align-items: center;
}

.products__list li {
    margin-left: 2rem;
}

.products__list li:first-child{
    margin-left: 0;
}


.product__title h2 {
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 45px;
}

.product__title span {
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
}

.product__title span::after,
.sub__title .more__btn::after  {
    content: "";
    z-index: -1;
    position: absolute;
    left: 20px;
    top: -1px;
    width: 53px;
    height: 25px;
    background-color: #fad900;
    border-radius: 20px;
}


.products__list span i, 
.more__btn i {
    margin-left: 1rem;
}


.products__list img {
    width: 12vw;
}

/* sub slide */
#sub__slide {
    width: 90%;
}
.sub__slide-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
}


.sub {
    display: flex;
}

.sub__img, .sub__text {
    width: 50%;
}

.sub__img img {
    width: 100%;
    height: 100%;
    display: block;
}

.sub__img1 {
    background: url("./images/desc/chaw_gcc_bn.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
}

.sub__img2 {
    background: url("./images/desc/beautycut_real_granola.png") no-repeat center;
    background-position: center;
    background-size: cover;
}

.sub__img3 {
    background: url("./images/desc/beautycut_checkschocobar.png") no-repeat center;
    background-position: center;
    background-size: cover;
}

.sub__img4 {
    background: url("./images/desc/beautycut_five_grain_checkschoco.png") no-repeat center;
    background-position: center;
    background-size: cover;
}

.sub__text {
    background-color: #fff8f5;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 6rem 4rem;
}

.sub__title h1 {
    color: #a52727;
    background-color: #f8d74c;
    display: inline-block;
    padding: 1.55rem 2rem 1.55rem 8rem;
    font-size: 20px;
    border-radius: 30px;
    position: relative;
}

.sub__title .sub__title-1::before {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    background: url("images/desc/product_logo_granola.png") no-repeat;
    width: 100px;
    height: 100px;
}

.sub__title .sub__title-2::before {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    background: url("images/desc/product_logo_kelloggbar.png") no-repeat;
    width: 100px;
    height: 100px;
}

.sub__title p {
    font-size: 3rem;
    font-weight: 700;
    color: #333333;
    margin: 4rem 0;
    line-height: 37px;
}

.sub__title .more__btn {
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    z-index: 0;
}

.sub__rows {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 5.5rem;
    text-align: center;
}

.sub__row1 .sub__icon {
    background: url("images/desc/product_weight.png") no-repeat;
    width: 55px;
    height: 60px;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.sub__row2 .sub__icon {
    background: url("images/desc/product_end_date.png") no-repeat;
    width: 55px;
    height: 60px;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.sub__row3 .sub__icon {
    background: url("images/desc/product_calory.png") no-repeat;
    width: 55px;
    height: 60px;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.sub__rows span {
    display: block;
} 

.sub__name1 {
    font-size: 17px;
    margin: 2rem 0;
}

.sub__row3 b {
    font-size: 11px;
    font-weight: 300;   
    margin-bottom: .5rem;
    display: block;
}

.sub__name2 {
    font-size: 1.7rem;
    font-weight: 700;
    background-color: #ececec;
    padding: 1.5rem 4rem;
}

.sub__row3 .sub__name1 {
    margin: 2rem 0 0 0;
}

/* more */
#more {
    margin-top: 7rem;
    width: 90%;
}

.more__wrap {
    display: flex;
}

.more__wrap li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more__wrap li:nth-child(1) {
    background: url("images/more/img_nutritional_off_1.png") no-repeat;
    width:  25%;
    height: 600px;
    background-size: cover;
}

.more__wrap li:nth-child(1):hover{
    background: url("images/more/img_m_nutritional_on_1.png") no-repeat;
    width:  25%;
    height: 600px;
    background-size: cover;
}

.more__wrap li:nth-child(2) {
    background: url("images/more/img_nutritional_off_2.png") no-repeat;
    width:  25%;
    height: 600px;
    background-size: cover;
}

.more__wrap li:nth-child(2):hover {
    background: url("images/more/img_m_nutritional_on_2.png") no-repeat;
    width:  25%;
    height: 600px;
    background-size: cover;
}

.more__wrap li:nth-child(3) {
    background: url("images/more/img_nutritional_off_3.png") no-repeat;
    width: 25%;
    height: 600px;
    background-size: cover;
}

.more__wrap li:nth-child(3):hover {
    background: url("images/more/img_m_nutritional_on_3.png") no-repeat;
    width: 25%;
    height: 600px;
    background-size: cover;
}


.more__wrap li:nth-child(4) {
    background: url("images/more/img_nutritional_off_4.png") no-repeat;
    width:  25%;
    height: 600px;
    background-size: cover;
}

.more__wrap li:nth-child(4):hover {
    background: url("images/more/img_m_nutritional_on_4.png") no-repeat;
    width:  25%;
    height: 600px;
    background-size: cover;
}


.more__wrap a {
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    display: block;
}

.more__wrap img {
    width: 100px;
}

.more__wrap a p {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 0 0 ;
}

.more__wrap a span {
    font-size: 13px;
    text-decoration: underline;
    font-family: 'Texturina', serif;
    font-weight: 700;
}

/* social */

#social {
    width: 90%;
    margin-top: 3rem;
}

.social__title {
    background-color: #d30b2f;
    display: block;
    width: 400px;
    padding:1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
}

.social__title img {
    width: 80px;
    display: block;
    margin: 0 auto;
}

.social__logo {
    position: relative;
}

.social__logo::before {
    content: "";
    display: block;
    border-bottom: 6px double white;
    width: 125px;
    position: absolute;
    left: 15px;
    top: 10px;
}

.social__logo::after {
    content: "";
    display: block;
    border-bottom: 6px double white;
    width: 125px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.social__title h3 {
    color: white;
    font-size: 35px;
}

.social__wrap {
    display: flex;
    justify-content: space-between;
}
.social__youtube {
    width: 700px;
    height: 490px;
    position: relative;
    margin-right: 1rem;
}

.social__youtube::before {
    content: "";
    display: block;
    background: url("images/social/ico_play.png") no-repeat;
    width: 100px;
    height: 100px;
    left: calc(50% - 5%);
    top: calc(50% - 5%);
    position: absolute;
}

.social__youtube::after {
    content: "";
    display: block;
    background: url("images/social/ico_youtube.png") no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-size: cover;
}

.social__youtube img {
    width: 100%;
    height: 100%;
    display: block;
}
.social__row1, .social__row2 {
    display: flex;
}

.social__row2 {
    margin-top: 1rem;
}

.social__row1 img ,.social__row2 img {
    width: 240px;
    height: 240px;
    display: block;
}

.social__row1 .box,
.social__row2 .box {
    margin-left: 1rem;
}

.social__ins {
    position: relative;
}

.social__ins::after {
    content: "";
    display: block;
    background: url("images/social/ico_instagram.png") no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-size: cover;
}

.social__blog {
    position: relative;
}

.social__blog::after {
    content: "";
    display: block;
    background: url("images/social/ico_naver_blog.png") no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-size: cover;
}

/* footer */

#footer {
    margin-top: 10rem;
    background-color: #d30b2f;
    padding: 2rem 0;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer__right {
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}

.footer__icons {
    display: flex;
}

.footer__icons a{
    display: block;
}

.footer__icon-youtube {
    background: url("images/footer/icon_foot_youtube.png") no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
}

.footer__icon-instagram {
    background: url("images/footer/icon_foot_instagram.png") no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}

.footer__icon-naver-blog {
    background: url("images/footer/icon_foot_naver_blog.png") no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    margin-left: 8px;
}

.footer__language{
    margin-left: 10px;
    color: white;
    width: 200px;
    padding: .1rem 2rem .1rem 0.1rem;
    background-color: transparent;
    border: 1px solid white;
}

.upBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: white;
    color: #1e90ff;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    padding: 1rem 1.5rem;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(52, 50, 50, 0.3);
    -moz-box-shadow:    0px 3px 10px 0px rgba(52, 50, 50, 0.3);
    box-shadow:         0px 3px 10px 0px rgba(52, 50, 50, 0.3);
    z-index: 1;
    cursor: pointer;
}

@media (max-width: 1180px) {

    .toggle__btn {
        display: block;
    }

    .nav__lists {
        display: none;
        flex-direction: column;
        margin: 0;
        padding: 1rem 0 1rem 2rem;
    }

    .nav__list__wrap {
        display: none;
        width: 100%;
        height: 100%;
        background-color: white;
        width: 350px;
        position: fixed;
        top: 8rem;
        right: 0;
    }

    .nav__list__wrap .closeBtn{
        display: none;
        position: absolute;
        top: -60px;
        right: 2.8rem;
        z-index: 1;
        font-size: 28px;
        background-color: transparent;
        color:#757575;
        cursor: pointer;
    }

    .nav__lists::before {
        content: "";
        width: 350px;
        position: absolute;
        top: -78px;
        right: 0;
        background-color: white;
        height: 78px;
    }

    .nav__lists li {
        font-size: 2rem;
        margin: 0 0 1.5rem 0;
    }

    .nav__btn {
        display: none;
    }

    .nav__lists > li .kellogg__submenu {
        width: 50%;
    }
    
    .slide__title {
        font-size: 5rem;
    }

    .product__title img {
        width: 18rem;
    }

    .sub__img1 {
        background: url("./images/desc/chaw_gcc_bt.jpg") no-repeat center;
        height: 400px;
        background-size: cover;
    }

    .sub__img2 {
        background: url("./images/desc/bg_bt.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
    }
    
    .sub__img3 {
        background: url("./images/desc/pg_apple_bar_bt.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
    }

    .sub__img4 {
        background: url("./images/desc/beautycut_five_grain_checkschoco_768.png") no-repeat center;
        background-position: center;
        background-size: cover;
    }
    .sub__title p {
        font-size: 2.5rem;
    }

    .sub__name2 {
        font-size: 1.4rem;
    }

    .sub {
        flex-direction: column;
    }

    .sub__img, .sub__text {
        width: 100%;
    }
    .sub__img img {
        height: 40vh;
    }

    .sub__text {
        padding: 2rem 4rem;
    }
    .more__wrap {
        flex-direction: column;
    }

    .more__wrap li {
        width: 100% !important;
    }

    .more__wrap li:nth-child(1) {
        background: url("images/more/img_m_nutritional_on_1.png") no-repeat;
        width:  25%;
        height: 600px;
        background-size: cover;
    }
    
    .more__wrap li:nth-child(2) {
        background: url("images/more/img_m_nutritional_on_2.png") no-repeat;
        width:  25%;
        height: 600px;
        background-size: cover;
    }
    
    .more__wrap li:nth-child(3) {
        background: url("images/more/img_m_nutritional_on_3.png") no-repeat;
        width: 25%;
        height: 600px;
        background-size: cover;
    }
    
    .more__wrap li:nth-child(4) {
        background: url("images/more/img_m_nutritional_on_4.png") no-repeat;
        width:  25%;
        height: 600px;
        background-size: cover;
    }

    .more__wrap a {
        color: white;
    }

} 

@media screen and (max-width: 768px) { 
    .background__img1,
    .background__img2,
    .background__img3,
    .background__img4 {
        height: 50vh;
    }
    .slide__title {
        font-size: 3rem;
        top: 190px;
    }
    .slide4 .slide__title {
        font-size: 4.5rem;
    }
    .slide4 .slide__sub-title {
        font-size: 1.5rem;
    }
    .products {
        padding: 2.5rem 1rem;
    }
    .product__title h2 {
        font-size: 3rem;
    }

    .sub__name2 {
        padding: 1.5rem 3rem;
    }

    .more__wrap li {
        height: 300px !important;
    }
    .social__title {
        width: 100%;
    }

    .social__wrap {
        flex-direction: column;
    }
    .social__youtube {
        width: 100%;
        margin-right: 0;
    }
    .social__row1, .social__row2 {
        justify-content: space-between;
    }

    .social__ins, .social__blog{
        width: 50%;
        height: 50%;
    }

    .social__row1 img, .social__row2 img {
        width: 100%;
        height: 100%;
    }
    .footer__logo, .footer__icons {
        display: none;
    }

    .footer__right {
        margin: 0 auto;
    }
}